broker {
    rabbitmq {
    	connection {
        	host = 'some.host.name'
        	port = 4444
        	userName = 'myuser'
        	password = 's0m3p4ss'
        	automaticRecovery = true
        }
        routingInfo {
        	exchangeName = 'stacie'
        	exchangeType = 'fanout'
        	routingKey = ''
        	deliveryMode = 1
        }
    }
}